@mixin tile()
{
    width: 1em;
    height: 1em;
    position: absolute;

    background-size: 93%;
    background-position: center;
    background-repeat: no-repeat;
}

.starship
{
    @include tile();

    &.ancient {background-image: url("./assets/images/ancient.core.svg");}
    &.rebellion {background-image: url("./assets/images/rebellion.core.svg");}
    &.federation {background-image: url("./assets/images/federation.core.svg");}

    .module
    {
        @include tile();

        &.ancient.hull {background-image: url("./assets/images/ancient.hull.svg");}
        &.ancient.engine {background-image: url("./assets/images/ancient.engine.svg");}
        &.ancient.turret {background-image: url("./assets/images/ancient.turret.svg");}
        &.rebellion.hull {background-image: url("./assets/images/rebellion.hull.svg");}
        &.rebellion.engine {background-image: url("./assets/images/rebellion.engine.svg");}
        &.rebellion.turret {background-image: url("./assets/images/rebellion.turret.svg");}
        &.federation.hull {background-image: url("./assets/images/federation.hull.svg");}
        &.federation.engine {background-image: url("./assets/images/federation.engine.svg");}
        &.federation.turret {background-image: url("./assets/images/federation.turret.svg");}
    }
}
