.starmap
{
	z-index: 2;
	top: 2em;
	right: 2em;
	width: 25em;
	height: 25em;
	position: absolute;

	font-size: 0.125em;

	border-style: solid;
	border-width: 1em;
    border-radius: 10em;
	border-color: #143753;

	overflow: hidden;
	background-color: #467F97;

	.starship-blip
	{
		width: 1em;
		height: 1em;

		position: absolute;

		border-radius: 3em;
		background-color: red;

		&.ancient {background-color: #444}
		&.rebellion {background-color: #3F2A14}
		&.federation {background-color: #BBB}
		&.locust {background-color: #6B238E}
	}
}
