.starmap
{
	z-index: 2;
	top: 0.5em;
	width: 2em;
	right: 0.5em;
	height: 2em;
    padding: 0.25em;
	position: absolute;

	border-width: 0.01em;
	border-style: solid;
	border-color: #143753;
    border-radius: 5em;
	background-color: #467F97;
}
