@import "./styles/_Defaults.scss";
@import "./styles/_Fonts.scss";
@import "./styles/_GameFrame.scss";

html
{
    color: #AAA;
    font-family: goldfish;
	background-color: #111;
}

#game-frame
{
    background-color: #222;
}
