@import "./styles/fonts.scss";
@import "./styles/defaults.scss";
@import "./styles/gameframe.scss";

html
{
    color: #AAA;
	background-color: #111;
}

#game-frame
{
    font-family: goldfish;
    background-color: #222;
}
