*
{
    margin: 0px;
}

@import "./styles/references/_Fonts.scss";
@import "./styles/components/_GameFrame.scss";
@import "./styles/components/_Starship.scss";
@import "./styles/components/_Star.scss";

#game-frame
{
    font-family: goldfish;
    background-color: #222;
}
